@{
    ViewBag.Title = "Index";
    Layout = null;
}


<!doctype html>
<html>
<body>
    <p>
        <ul id="colors">

            @foreach (var colors in (List<string>)ViewBag.data)
            {
                <li>
                    @colors
                </li>
            }

        </ul>
    </p>
    
    @Html.ActionLink("Open Qurry interface", "querry")
    @Html.ActionLink("Open Trigger interface", "trigger")
</body>
</html>