@model WebApplication1.Models.TestData

@{
    ViewBag.Title = "TestLink";
    Layout = null;
}
<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestLink</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
            {
            <p>This is a test qurry with a date limit. dates range from 1/1/16 to 4/1/16 enter a High and low</p>
            <p> Low: @Html.TextBoxFor(x => x.Name)</p>
            <p> High: @Html.TextBoxFor(x => x.Email)</p>

                 <p> Garbage dropdown for testing
                 @Html.DropDownListFor(x => x.canEmail, new[] {
                 new SelectListItem() { Text = "yes, you can Email me", Value = bool.TrueString },
                 new SelectListItem() { Text = "no, you can't email me", Value = bool.FalseString }
                 }, "Choose an option")
                </p>
                <input type="submit" value="Submit form" />
        }

    </div>
</body>

</html>


